<html>
    <head><title>Merchex</title></head>

    <body>

        <h1> Nous contacter</h1>
        <p>Pour toute question, n'hésitez pas à nous contacter à l'adresse suivante :</p>

    
        <form>
            <label for="name">Nom :</label><br>
            <input type="text" id="name" name="name"><br><br>

            <label for="email">Email :</label><br>
            <input type="email" id="email" name="email"><br><br>

            <label for="message">Message :</label><br>
            <textarea id="message" name="message"></textarea><br><br>

            <input type="submit" value="Envoyer">
        </form>

</html>